<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>52602941457-aa1teipp86fjcppdv3nlq7ah53vsf94i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52602941457-aa1teipp86fjcppdv3nlq7ah53vsf94i</string>
	<key>API_KEY</key>
	<string>AIzaSyAktchMyawG8eBimN2r0fOU58FuS7JSGGk</string>
	<key>GCM_SENDER_ID</key>
	<string>52602941457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterfireLoginUi</string>
	<key>PROJECT_ID</key>
	<string>loginscreen-665e9</string>
	<key>STORAGE_BUCKET</key>
	<string>loginscreen-665e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52602941457:ios:cccae60d43628bca5a81b0</string>
</dict>
</plist>